@{
    ViewData["Title"] = "S Home Page";
}

<div class="row">
<h2 class="col-md-4 active align-content-md-center ">Inside the Customer Index page</h2>
<h2 class="col-md-4 active align-content-md-center ">Inside the Customer Index page</h2>
<h2 class="col-md-4 active align-content-md-center ">Inside the Customer Index page</h2>
</div>